<ng-container *ngIf="siteStatus != '1' && siteStatus != '2'">
<app-header>
</app-header>

<!-- ABout V1 -->
<div class="layoutVerson1" *ngIf="pageDataHome?.template == 'version1'"> 
	<section class="indx-slidr-sec">
		<div class="indx-slidr-img bg1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 px-0">
						<div class="indx-slidr-txt"  style="padding:0 0 0 25px">
						    <img class="topBannerImg" src="{{imageUrl}}{{pageDataHome?.banner_image}}" alt=""> 
						    <label class="homeBannerText">
						    	<div [innerHTML]="pageDataHome?.banner_text | safeHtml"></div>
						    </label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-me-str">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ">
					<div class="cont-st-alb">
						<div class="tlt-aboy-m new-trss"> 
							<span class="txt-lits">Glossary</span>
							<!-- <h3> Some Facts <span>About Me </span></h3> -->
						</div>
						<div class="GlossaryTable">
							<table>
								<thead>
									<tr>
										<th>Topic</th>
										<th>Definition</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let glossary of AllGlossaries">
										<td>
											<h4>
												{{glossary?.topic}}
											</h4>
										</td>
										<td>
											<p [innerHTML]='glossary?.defination | safeHtml'></p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- // about v1 -->

<!-- About V2 -->
<div class="layoutVerson2" *ngIf="pageDataHome?.template == 'version2'">
	<section class="indx-slidr-sec innerPagers">
		<div class="indx-slidr-img bg1">
			<div class="container">
				<div class="indx-slidr-txt">
					<img class="topBannerImg" src="{{imageUrl}}{{pageDataHome?.banner_image}}" alt=""> 
					<label class="homeBannerText">
						<div [innerHTML]="pageDataHome?.banner_text | safeHtml" style="color:#fff"></div>
					</label>
					
				</div>
			</div>
		</div>
	</section>
	<section class="about-me-str">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cont-st-alb">
						<div class="secHdng text-center" style="width:100%">
							<!-- <h3>Some Facts About Me</h3> -->
							<h1>Glossary</h1>
						</div>
						<div class="GlossaryTable">
							<table>
								<thead>
									<tr>
										<th>Topic</th>
										<th>Definition</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let glossary of AllGlossaries">
										<td>
											<h4>
												{{glossary?.topic}}
											</h4>
										</td>
										<td>
											<p [innerHTML]='glossary?.defination | safeHtml'></p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- end About V2 -->


<!-- About V3 -->
<div class="layoutVerson3" *ngIf="pageDataHome?.template == 'version3'">
	<section class="indx-slidr-sec innerPagers">
		<div class="indx-slidr-img bg1">
			<div class="container">
				<div class="indx-slidr-txt">
					<img class="topBannerImg" src="{{imageUrl}}{{pageDataHome?.banner_image}}" alt="" style=" width: 200px!important; "> 
					<h1 [innerHTML]="pageDataHome?.banner_text | safeHtml"></h1>
					
					<div class="secHdng secHdngLeft" style="width:100%">
						<div>
							<!-- <h3>Some Facts About Me</h3> -->
							<h1>Glossary</h1>
						</div>
						<div class="breadcrum">
							<ul style="visibility: hidden;">
								<li><a href="#">Home</a></li>
								<li><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span></li>
								<li>Glossary</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-me-str">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cont-st-alb">
						<div class="GlossaryTable">
							<table>
								<thead>
									<tr>
										<th>Topic</th>
										<th>Definition</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let glossary of AllGlossaries">
										<td>
											<h4>
												{{glossary?.topic}}
											</h4>
										</td>
										<td>
											<p [innerHTML]='glossary?.defination | safeHtml'></p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- // end About V3 -->


<!-- About V4 -->
<div class="layoutVerson4" *ngIf="pageDataHome?.template == 'version4'">
	<section class="indx-slidr-sec innerPagers">
		<div class="indx-slidr-img bg1">
			<div class="container">
				<div class="indx-slidr-txt">
					<img class="topBannerImg" src="{{imageUrl}}{{pageDataHome?.banner_image}}" alt=""> 
					<label class="homeBannerText">
						<div [innerHTML]="pageDataHome?.banner_text | safeHtml"></div>
					</label>
				</div>
			</div>
		</div>
	</section>
	<section class="about-me-str">
		<div class="container">
			<div class="secHdng secHdngLeft" style="width:100%">
				<!-- <h3>Some Facts About Me</h3> -->
				<h1>Glossary</h1>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="cont-st-alb">
						<div class="GlossaryTable">
							<table>
								<thead>
									<tr>
										<th>Topic</th>
										<th>Definition</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let glossary of AllGlossaries">
										<td>
											<h4>
												{{glossary?.topic}}
											</h4>
										</td>
										<td>
											<p [innerHTML]='glossary?.defination | safeHtml'></p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- // end About V4 -->

<app-footer>
</app-footer>
</ng-container>

<div *ngIf="siteStatus == '1'" style="float: left;width: 100%;text-align: center;height: 100%; background: #ffffff">
  <img src="assets/img/siteBlocked.png" style="width:48%">
</div>

<div *ngIf="siteStatus == '2'" style="float: left;width: 100%;text-align: center;height: 100%; background: #F5F5F5">
  <img src="assets/img/siteunder.jpg" style="width:48%">
</div>